:root {
    --bg: #fff;
    --fg: #222;
    --accent: #2ecc71
}

* {
    box-sizing: border-box
}

html,
body {
    height: 100%
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Arial;
    background: var(--bg);
    color: var(--fg);
    display: flex;
    align-items: center;
    justify-content: center
}

main {
    padding: 24px;
    text-align: center
}

button {
    background: var(--accent);
    color: #f