:root {
    --bg: #ffffff;
    --fg: #111111;
    --accent: #3498db
}

* {
    box-sizing: border-box
}

html,
body {
    height: 100%
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Arial;
    background: var(--bg);
    color: var(--fg);
    display: flex;
    align-items: center;
    justify-content: center
}

main {
    padding: 24px;
    text-align: center
}

button {
    background: var(--accent);
    color: #df2d2d;
    border: none;
    padding: 10px 14px;
    border-radius: 6px;
    cursor: pointer
}

.dark {
    --bg: #0b1220;
    --fg: #e8eef8;
    --accent: #6aaef5
}