:root {
    --bg: #52b11e;
    --fg: #111111;
    --accent: #2c3e50
}

* {
    box-sizing: border-box
}

html,
body {
    height: 100%
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Arial;
    background: var(--bg);
    color: var(--fg);
    display: flex;
    align-items: center;
    justify-content: center
}

main {
    padding: 24px;
    text-align: center
}


.dark {
    --bg: #1d5ee0;
    --fg: #eaf2f9;
    --accent: #6b85a3
}