:root {
    --bg: #ffffff;
    --fg: #111111;
    --accent: #2c3e50
}

* {
    box-sizing: border-box
}

html,
body {
    height: 100%
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Arial;
    background: var(--bg);
    color: var(--fg);
    display: flex;
    align-items: center;
    justify-content: center
}

main {
    paddi